h1 {
    text-align: center;
    font-family:  Gill Sans / Gill Sans MT, sans-serif;
    color: #555;
    font-size: 80px;
}

#drawsurface {
    display: block;
    margin: 50px auto;
    /*border: 1px solid #444;*/
    box-shadow: 2px 1px 10px #555;
}

#normalize {
    display: block;
    margin: 50px auto;
    /*border: 1px solid #444;*/
    box-shadow: 2px 1px 10px #555;
}

input {
    margin-left: 600px;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
